<style>
  footer {
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
    color: #828282;
  }
</style>
<footer class="container">
  <div class="row">
    <div class="col-4">
      <address class="small">
        Dept of Computer Science <br>
        Old Dominion University, Norfolk, VA 23529
      </address>
    </div>
    <div class="col-4 px-1 text-center small">
      Find us on<br>
      {% include social-media.html %}
    </div>
    <div class="col-4 text-end small">
      &copy; <a target="_blank" href="https://twitter.com/@nirdslab">NIRDS</a> at <a target="_blank" href="https://twitter.com/@oducs">ODUCS</a> <br>
      Neuro-Information Retrieval and Data Science Lab
    </div>
  </div>
</div>