<head>
	<!-- Links -->
	<link rel="icon" type="image/x-icon" href="/assets/img/icon-48.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icon-180.png" />
	<link rel="icon" sizes="32x32" href="/assets/img/icon-32.png" />
	<link rel="icon" sizes="192x192" href="/assets/img/icon-192.png" />
	<link rel="icon" sizes="512x512" href="/assets/img/icon-512.png" />
	<link rel="manifest" href="/manifest.json" />

	<!-- Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="NIRDS Lab (Neuro Information Retrieval And Data Science Lab) of Old Dominion University, Norfolk, VA" />
	<meta name="author" content="" />

	<!-- Title -->
	<title>{{ page.title }} - {{ site.title }}</title>

	<!-- Bootstrap -->
	<link
		rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous"
	/>

	<!-- Fontawesome -->
	<link
		rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
		crossorigin="anonymous"
	/>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
