<style>
    nav {
        background-color: #343a40ee;
        backdrop-filter: blur(4px);
        -moz-backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }
    video {
  position: absolute;
  display:flex;
  /* width:fit-content; */
}

.overlay {
  min-height: 60vh;
  display: flex;
  align-items: center;
  text-shadow: 0 1px 9px rgb(0 0 0 / 30%);
  /* -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; */
}
.overlay h3 {
    background-color: rgba(255, 255, 255, 0.85);
    color: rgb(255, 0, 0);
    font-weight: 800;
    font-size: 34px;
    margin: 2% 3% 0;
    mix-blend-mode: overlay;
    padding: 5px 15px;
    text-align: center;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
            {% for path in site.header_pages %}
                {% assign my_page = site.pages | where: "path", path | first %}

                {% assign active = '' %}
                {% if page.path == my_page.path %}
                    {% assign active = 'active' %}
                {% endif %}

                {% if my_page.title %}
                <li class="nav-item">
                    <a class="nav-link {{active}}" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>