<link rel="shortcut icon" type="image/x-icon" href="img/icon.ico" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom CSS -->
<link href="css/modern-business.css" rel="stylesheet" />

<!-- Custom Fonts -->
<link
	href="font-awesome/css/font-awesome.min.css"
	rel="stylesheet"
	type="text/css"
/>
<link
	rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
	integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	crossorigin="anonymous"
/>

<div class="col-lg-4 col-sm-6 text-center">
	<img
		src="{{include.member.img | default: '/assets/img/team/placeholder.png'}}"
		style="border-radius: 90%;"
		alt=""
	/>

	<div class="card-body">
		<h5>{{include.member.name}}</h5>
		<h6>{{include.member.title}}</h6>
		<p class="text-muted"><em>{{include.member.interests}}</em></p>
		<!-- <p>Helloo</p> -->
	</div>
</div>
